body {
  background-color:rgb(236, 230, 230);
}
header {
  margin: center;
}
.container {
  width: 700px;
  margin: 0 auto
}

h1 {
  color:darkslategray;
  font-family: "Times New Roman";
}

p {
  font-style: italic;
}

.avatar{
  width: 100px;
  border-radius: 50%;

}

h4{
  font-weight: lighter;
}

.card-white{
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

div{
  display: block;
}

.list {
  list-style: none;
  padding-left: 0px;
}

li {
  display: inline-block;

}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 15px;
  text-decoration: none;
}

h4{
  color:rgb(171, 233, 209);
  font-size: 20px;
  font-weight: lighter;
  font-family:'Times New Roman', Times, serif;
}

.link{
  color:rgb(230, 223, 223);
  font-size: 40px;
  padding: 5px;
}

.link:hover{
  color:rgb(145, 144, 144);
}

.btn-blue:hover{
  background-color: brown;
}

.avatar:hover{
  width: 150px;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
